@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Laila:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    transition: all .2s linear;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* top bar starts */

#top-bar {
    background-color: #3e3e3e;
    padding-left: 27.5%;
    display: none;
}

#top-bar a {
    color: white;
    text-align: center;
}

#top-bar li {
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#top-bar-home {
    float: left;
}

#top-bar-attendee {
    padding-left: 40%;
}

#logo {
    float: left;
    padding: 0 30px 0 7%;
    color: #3e3e3e;
}

#logo:hover {
    color:#48ff00;
}

#call-to-action {
    margin-left: 5%;
}

#call-to-action li {
    float: left;
}

header {
    width: 100%;
}

#menu {
    float: right;
    list-style-type: none;
    padding-right: 7%;
}

#menu li a {
    list-style: none;
    font-size: 12px;
    padding: 0 20px;
    color: #000;
}

#menu li a:hover {
    color:#828282;
    border-bottom : 1px solid #48ff00;
}

#logo, #call-to-action, #menu{
    line-height: 75px;
}

#call-to-action li {
    list-style-type: none;
    padding: 0 10px;
}

#call-to-action li a {
    border: 1px solid #000;
    padding: 6px 30px;
    font-size: 12px;
}

#call-to-action li a:hover {
    background-color: #3e3e3e;
    color: #fff;
}

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

#hero-text {
    position: absolute;
    background-color: #3e3e3e;
    padding: 20px 5% 60px 5%;
    top: 30%;
}

#hero-text p {
    margin-left: 30px;
    color: #fff;
    font-size: 150%;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 3px;
}

#hero-text h4 {
    margin-left: 30px;
    color: #fff;
    font-size: 150%;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 3px;
}

#venue-date-time {
    background-color:#3e3e3e;
    display: flex;
    padding: 20px 91.0469px;
    justify-content:space-between;
    color: white;
    
}

#why-not {
    text-align: center;
    padding: 100px 0;
    background-color: #f6f6f6;
    border-top: 4px solid #48ff00;
}

#why-not div {
    padding-top: 20px;
    font-family: 'Laila', sans-serif;
}

#sub-heading {
    background-color: #3e3e3e;
    display: inline-block;
    margin-top: 10%;
    margin-left: 91.0469px;
    padding-right: 100px;
    color: white;
}

.attendees-section-style {
    display: flex;
    justify-content: space-between;
    padding: 100px 91.0469px;
}

.attendees-section-style h3 {
    margin-bottom: 10px;
}

.attendees-section-style ul li {
    list-style-type: none;
    font-family: 'Laila', sans-serif;
    font-size: 18px;
}

#expected-exhibitors-image {
    background: url('../images/attendees-section-image-one.jpg') no-repeat center center;
    height: 400px;
    width: 400px;
    background-size: cover;
}

#expected-visitors-image {
    background: url('../images/attendees-section-image-two.jpg') no-repeat center center;
    height: 400px;
    width: 400px;
    background-size: cover;
}

#expected-visitors {
    margin: 200px 0;
}

/* some sponsors section start */

#some-sponsors {
    background-color: #3e3e3e;
}

.some-sponsors-image {
    background: url('../images/kettle.jpg') no-repeat center center;
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%;
}

#some-sponsors-inner {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 100px 0;
}

#some-sponsors-inner div {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#some-sponsors-inner div p { 
    font-family: 'Laila', sans-serif;
    font-size: 12px;
}

#some-sponsors-inner h4 {
    padding: 10px 0px 15px 0px;
}

/* some sponsors section start */

.sponsors-sub-heading h3 {
    background-color: #fff;
    color: #3e3e3e;
}


.footer-inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #1e1e1e;
    padding: 100px 88.8594px;
}

#usermap li {
    float: left;
    list-style-type: none;
    cursor: pointer;
    font-size: 12px;
}

#usermap a:hover {
    color: #828282;
    border-bottom: 1px solid #48ff00;
}

#usermap li:nth-child(2){
    padding: 0px 35px;
}

#social-media-links {
    text-align: center;
}

#social-media-links div:first-child:hover {
    color:#48ff00;
}

#social-media-links div {
    text-align: center;
}

#social-media-links p:first-child {
    font-size: 40px;
    font-weight: 900;
}

#social-media-logos i {
    font-size: 18px;
    padding: 10px;
}

#social-media-logos :nth-child(2) {
    margin: 0 29px;
}

/* home page ends here */




/* contact us pages starts here */

#page-heading {
    clear: left;
    background-color: #f6f6f6;
}

#page-heading {
    color: #1e1e1e;
    padding: 50px 0 10px 7%;
    font-weight: 600;
}

#contact-us-info {
    background-color: #3e3e3e;
}

.contact-us-info-image {
    background: url('../images/male-avatar.png') no-repeat center center;
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%;
}

#contact-us-info-inner {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 100px 0;
}

#contact-us-info-inner div {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#contact-us-info-inner div p { 
    font-family: 'Laila', sans-serif;
    font-size: 12px;
}

#contact-us-info-inner h4 {
    padding: 10px 0px 15px 0px;
}


#form-section h4{
    text-align: center;
    padding: 50px 0 0 0;
}
                       
.wrapper {
    padding: 60px 0;
}

label,
input,
textarea,
button {
  font-size: 1rem;
  line-height: 1;
}

form {
    width: 25em;
    max-width: 90%;
    margin: 0 auto;
}

form div {
    margin-top: 1rem;
}

label {
    margin-bottom: 0.4rem;
    display: block;
}

input,
textarea {
    padding: 0.4rem;
    width: 100%;
    border: 1px solid;
}

button {
    margin-top: 2rem;
    background-color: #3e3e3e;
    color: #fff;
    border: none;
    padding: 0.6rem;
    width: 100%;
}

button:hover,
button:focus {
    background-color: #1e1e1e;
}

/* contact us pages ends here */



/* for exhibitors starts here */

#for-icon {
    background: url('../images/jug.png') no-repeat center center;
    height: 48px;
    width: 48px;
    margin: 100px 0px 25px 0px;
}

.for-exhibitors-writeup {
    padding: 0 50px 100px 50px;
}

.for-exhibitors-writeup h4{
    padding-bottom: 5px;
    font-size: 14px;
}

.for-exhibitors-writeup h4{
    font-size: 14px;
}

.for-exhibitors-inner {
    display: flex;
}

/* for exhibitors ends here */




/* attendees starts here */

.attendees-info-image {
    background: url('../images/connected.png') no-repeat center center;
    height: 48px;
    width: 48px;
    background-size: cover;
    border-radius: 50%;
}

#attendees-info {
    background-color: #fff;
}

#attendees-info div{
    color:#3e3e3e;
}

.contact-us-info-image {
    background: url('../images/male-avatar.png') no-repeat center center;
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%;
}

/* attendees ends here */




/* Media Queries */
@media screen and (max-width: 320px) {
    #top-bar {
        display: block;
    }

    #logo {
        float: none;
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 70px 0px 0 0%;
        z-index: 1;
    }

    #logo h1 {
        text-align: center;
        font-size: 50px;
    }

    #menu {
        display: none;
    }

    #call-to-action {
        line-height: 75px;
        position: absolute;
        top: 280px;
        z-index: 1;
        color: #fff;
    }

    #call-to-action li {
        padding: 0 0px;
    }

    #call-to-action li a {
        border: 1px solid #fff;
        padding: 6px 30px;
        font-size: 12px;
    }

    #hero-outer {
        height: 400px;
    }
    
    #hero-image {
        height: 400px;
    }
    
    #hero-text {
        position: absolute;
        background-color: #3e3e3e;
        padding: 20px 20px 100px 0%;
        top: 30%;
        
    }
    
    #hero-text p {
        color: #fff;
        font-size: 120%;
        font-weight: 900;
        line-height: 20px;
        text-align: center;
    }

    #venue-date-time {
        background-color:#3e3e3e;
        display: flex;
        padding: 5px 5px;
        justify-content:space-between;
    }

    #venue-date-time div {
        padding: 5px 5px;
        font-size: 10px;
    }
    
    #why-not div {
        font-size: 14px;
        padding: 20px 30px;
    }

    #sub-heading {
        margin-left: 0px;
        padding-right: 20px;
    }

    #sub-heading h3{
        font-size: 16px;
    }
    
    .attendees-section-style {
        display: flex;
        flex-direction: column;
        padding: 40px 30px;
    }
    
    .attendees-section-style h3 {
        margin-bottom: 10px;
    }
    
    .attendees-section-style ul li {
        font-size: 14px;
    }
    
    #expected-exhibitors-image {
        height: 200px;
        width: 200px;
        margin-top: 20px;
    }

    #expected-visitors-image {
        height: 200px;
        width: 200px;
        margin-top: 20px;
    }

    #expected-visitors {
        margin: 200px 0;
    }

    #some-sponsors {
        background-color: #3e3e3e;
    }
    
    #some-sponsors-inner {
        display: flex;
        flex-direction: column;
        padding: 100px 0;
    }

    #some-sponsors-inner div{
        padding-bottom: 50px
        
    }

    .footer-inner {
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: #1e1e1e;
        padding: 50px 20px;
    }

    #usermap {
        padding-bottom: 70px;
    }
    
    #usermap li {
        float: none;
        text-align: center;
    }
    
    #usermap li:nth-child(2){
        padding: 10px 0px;
    }

}

/* media queries for max-width: 768px */


@media screen and (max-width: 768px) {
    .attendees-section-style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .attendees-section-style ul li {
        font-size: 16px;
    }

    #expected-visitors h3 {
        padding-top: 50px;
    }
}

