@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Laila:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    transition: all .2s linear;
    color: inherit;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    box-sizing: inherit;
    min-height: 100%;
    padding-bottom: 22.3rem;
}

html {
    height: 100%;
    box-sizing: border-box;
}

/*==================================
Home page starts here 
==================================*/

header {
    width: 100%;
}

.top-bar-container {
    display: none;
}

#top-bar {
    background-color: #3e3e3e;
    display: flex;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#top-bar a {
    color: white;
    text-align: center;
}

#top-bar li {
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 0;
}

#top-bar li:hover {
    font-weight: 400;
}

#logo {
    float: left;
    padding: 0 30px 0 7%;
    color: #3e3e3e;
}

#logo h1:hover {
    color:#48ff00;
}

#call-to-action {
    margin-left: 5%;
}

#call-to-action li {
    float: left;
}

#menu {
    float: right;
    list-style-type: none;
    padding-right: 7%;
}

#menu li a {
    list-style: none;
    font-size: 12px;
    padding: 0 20px;
    color: #000;
}

#menu li a:hover {
    color:#828282;
    border-bottom : 1px solid #48ff00;
}

#logo, #call-to-action, #menu{
    line-height: 75px;
}

#call-to-action li {
    list-style-type: none;
    padding: 0 10px;
}

#call-to-action li a {
    border: 1px solid #000;
    padding: 6px 30px;
    font-size: 12px;
}

#call-to-action li a:hover {
    background-color: #3e3e3e;
    color: #fff;
}

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

#hero-text {
    position: absolute;
    background-color: #3e3e3e;
    padding: 20px 5% 60px 5%;
    top: 30%;
    font-size: 34px;
    color: #f6f6f6
}

#venue-date-time {
    background-color:#3e3e3e;
    display: flex;
    padding: 20px 91.0469px;
    justify-content:space-between;
    color: white;
}

#why-not {
    text-align: center;
    padding: 100px 0;
    background-color: #f6f6f6;
    border-top: 4px solid #3B9092;
}

#why-not div {
    padding: 20px;
    font-family: 'Laila', sans-serif;
}

.attendees-section #expected-exhibitors {
    padding-bottom: 100px;
}

.attendees-section {
    background-color: #E3F4F4;
    padding: 100px 91.0469px;
}

.attendees-section #sub-heading {
    padding-bottom: 50px;
}

#sub-heading h3 {
    color:#1e1e1e;
    background-color: #f6f6f6;
    display: inline;
    font-size: 20px;
}

.attendees-section-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.attendees-section-style h3 {
    margin-bottom: 10px;
}

.attendees-section-style ul li {
    list-style-type: none;
    font-family: 'Laila', sans-serif;
    font-size: 18px;
}

#expected-exhibitors-image {
    background: url('../images/attendees-section-image-one.jpg') no-repeat center center;
    height: 400px;
    width: 400px;
    background-size: cover;
}

#expected-visitors-image {
    background: url('../images/attendees-section-image-two.jpg') no-repeat center center;
    height: 400px;
    width: 400px;
    background-size: cover;
}

#some-sponsors {
    background-color: #3e3e3e;
    padding: 100px 91.0469px;
}

#some-sponsors #sponsors-sub-heading {
    padding-bottom: 50px;
}

#sponsors-sub-heading h3 {
    color: #3e3e3e;
    background-color:#f6f6f6;
    display: inline;
    font-size: 20px;
}

.some-sponsors-image {
    background: url('../images/kettle.jpg') no-repeat center center;
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%;
}

#some-sponsors-inner {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#some-sponsors-inner div {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#some-sponsors-inner div p { 
    font-family: 'Laila', sans-serif;
    font-size: 12px;
}

#some-sponsors-inner h4 {
    padding: 10px 0px 15px 0px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #1e1e1e;
    padding: 100px 88.8594px;
}

#usermap li {
    float: left;
    list-style-type: none;
    cursor: pointer;
    font-size: 12px;
}

#usermap a:hover {
    font-weight: bold;
    border-bottom: 1px solid #48ff00;
}

#usermap li:nth-child(2){
    padding: 0px 35px;
}

#social-media-links {
    text-align: center;
}

#social-media-links div:first-child:hover {
    color:#48ff00;
}

#social-media-links div {
    text-align: center;
}

#social-media-links p:first-child {
    font-size: 40px;
    font-weight: 900;
}

#social-media-logos i {
    font-size: 28px;
    padding: 10px;
}

#social-media-logos a:hover {
    color:#bcbcbc;
}

#social-media-logos :nth-child(2) {
    margin: 0 29px;
}

.copy-right {
    background-color: #f6f6f6;
    color: #3e3e3e;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

/*==================================
Home page ends here 
==================================*/

/*==================================
Contact us page starts here 
==================================*/

#page-heading {
    clear: left;
    background-color: #f6f6f6;
}

#page-heading {
    color: #1e1e1e;
    padding: 50px 0 10px 7%;
    font-weight: 600;
}

#contact-us-info {
    background-color: #3e3e3e;
}

.contact-us-info-image {
    background: url('../images/male-avatar.png') no-repeat center center;
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%;
}

.contact-us-info-inner {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 100px 0;
}

.contact-us-info-inner div {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.contact-us-info-inner div p { 
    font-family: 'Laila', sans-serif;
    font-size: 12px;
}

.contact-us-info-inner h4 {
    padding: 10px 0px 15px 0px;
}


#form-section h4{
    text-align: center;
    padding: 50px 0 0 0;
}
                       
.wrapper {
    padding: 60px 0;
}

label,
input,
textarea,
button {
  font-size: 1rem;
  line-height: 1;
}

form {
    width: 25em;
    max-width: 90%;
    margin: 0 auto;
}

form div {
    margin-top: 1rem;
}

label {
    margin-bottom: 0.4rem;
    display: block;
}

input,
textarea {
    padding: 0.4rem;
    width: 100%;
    border: 1px solid;
}

button {
    margin-top: 2rem;
    background-color: #3e3e3e;
    color: #fff;
    border: none;
    padding: 0.6rem;
    width: 100%;
}

button:hover,
button:focus {
    background-color: #1e1e1e;
}

/*==================================
Contact us page ends here 
==================================*/

/*==================================
For exhibitors page starts here 
==================================*/

.for-icon {
    background: url('../images/jug.png') no-repeat center center;
    height: 48px;
    width: 48px;
    margin: 100px 0px 25px 0px;
}

.for-exhibitors-writeup {
    padding: 0 50px 100px 50px;
}

.for-exhibitors-writeup h4{
    padding-bottom: 5px;
    font-size: 14px;
}

.for-exhibitors-writeup h4{
    font-size: 14px;
}

.for-exhibitors-inner {
    display: flex;
}

/*==================================
For exhibitors page ends here 
==================================*/

/*==================================
Attendees page starts here 
==================================*/

.attendees-info-image {
    background: url('../images/connected.png') no-repeat center center;
    height: 48px;
    width: 48px;
    background-size: cover;
    border-radius: 50%;
}

#attendees-info {
    background-color: #fff;
    padding: 0 10px;
}

#attendees-info div{
    color:#3e3e3e;
}

.contact-us-info-image {
    background: url('../images/male-avatar.png') no-repeat center center;
    height: 60px;
    width: 60px;

    background-size: cover;
    border-radius: 50%;
}

/*==================================
Attendees page ends here 
==================================*/

/*==================================
Thank you page starts here 
==================================*/

.thank-you {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.thank-you p {
    color: hsl(0, 0%, 20%);
    margin-top: 10px;
    font-size: 24px;
}

/*==================================
Thank you page ends here 
==================================*/

/*==================================
Media query starts here
==================================*/

/* media queries for max-width: 768px */
@media screen and (max-width: 768px) {
    body {
        padding-bottom: 26.74rem;
    }
    
    .attendees-section-style ul li {
        font-size: 16px;
    }

    #expected-visitors h3 {
        padding-top: 50px;
    }
    
}

@media screen and (max-width: 767px) {
    body {
        padding-bottom: 32.74rem;
    }

    #menu {
        display: none;
    }

    .top-bar-container {
        display: block;
    }

    #logo {
        float: none;
        padding: 0;
        color: #3e3e3e;
        text-align: center;
    }

    #logo h1 {
        text-align: center;
        font-size: 50px;
        display: inline-block;
    }

    #call-to-action {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-left: 0;
        padding: 0 5px 30px;
    }
    
    #call-to-action li {
        float: none;
        list-style-type: none;
        border: 1px solid #3e3e3e;
        width: 120px;
        text-align: center;
        padding: 0 0px;
        line-height: 30px;
    }

    #call-to-action li:hover{
        background-color: #3e3e3e;
    }
    
    #call-to-action li a {
        border: none;
        padding: 6px 20px;
        font-size: 12px;
    }
    
    #call-to-action li a:hover {
        background-color: transparent;
        color: #fff;
    }

    #hero-outer {
        height: 400px;
    }
    
    #hero-image {
        height: 400px;
    }
    
    #hero-text {
        position: absolute;
        background-color: transparent;
        padding: 0px 0px 0px 0%;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    #hero-text h2 {
        background-color: #3e3e3e;
        margin-bottom: 40px;
        font-size: 36px;
        padding: 20px;
    }
    
    #hero-text p {
        background-color: #3e3e3e;
        color: #fff;
        font-size: 60%;
        font-weight: 900;
        line-height: 20px;
        text-align: center;
        padding: 8px;
    }
    
    #why-not div {
        font-size: 14px;
        padding: 20px 30px;
    }

    #sub-heading {
        margin-left: 0px;
        padding-right: 20px;
        text-align: center;
    }

    #sub-heading h3{
        font-size: 16px;
    }

    #venue-date-time {
        background-color:#3e3e3e;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0px;
        align-items: center;
        font-size: 12px;
        text-align: center;
    }

    #venue-date-time div:nth-child(2) {
        padding: 20px 0 20px 0;
    }

    .attendees-section {
        background-color: #E3F4F4;
        padding: 100px 20px;
    }
    
    .attendees-section-style {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
    }

    #expected-visitors div:nth-child(2){
        order: -1;
    }

    #expected-exhibitors-image {
        height: 300px;
        width: 300px;
        margin-top: 20px;
    }

    #expected-visitors {
        margin: 50px 0;
    }

    #expected-visitors-image {
        height: 300px;
        width: 300px;
        margin-top: 20px;
    }

    #some-sponsors {
        background-color: #3e3e3e;
        padding: 100px 20px;
    }

    #sponsors-sub-heading {
        text-align: center;
    }
    
    #some-sponsors-inner {
        display: flex;
        flex-direction: column;
        padding: 100px 0;
    }

    #some-sponsors-inner div{
        padding-bottom: 50px;
    }

    .footer-inner {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 100px;
        padding: 100px 0px;
    }

    #usermap ul {
        display: flex;
        gap: 20px;
    }

    #usermap li {
        float: none;
        list-style-type: none;
    }
    
    #usermap li:nth-child(2){
        padding: 0px;
    }
}

/*==================================
Media query ends here 
==================================*/

